@charset "UTF-8";

:root {
    --cor0: #ECBE2A;
    --cor1: #435A73;
    --cor2: #67E67B;
    --cor3: #719176;
    --cor4: #665F57;
    --cor5: #24303d;

    --font-padao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: var(--font-padao);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

a.externo::after {
    content: '\1F517\00A0';
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor5);
    font-size: 50px;
    padding-top: 125px;
    text-align: center;
}

header {
    display: flex;
    min-height: 40px;
    background-color: var(--cor1);
    text-align: center;
    align-items: center;
}

nav {
    margin-left: 20px;
    margin-top: 22px;
}

header > h1 {
    color: white;
    font-size: 3em;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
}

header > p {
    font-family: var(--font-padao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 30px;    
}

picture#Logo {
    display: inline-block;
    background-color: #24303d;
    border-radius: 0% 20% 0% 0%;
}

nav {
    background-color: var(--cor1);
    text-align: center;
    height: 2px;
}

nav > a {
    color: var(--cor0);
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor5);
    border-radius: 5px;
}

main {
    flex: 1;
    background-image: url(../Imagens/Beige_Illustrative_Happy_International_Cat_Day_Banner_Opaco_50.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

main p {
    margin: 15px 10px;
    text-align: center;
    line-height: 2em;
    font-size: 1em;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.274);
    margin-bottom: 50px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    width: 100%;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px 0;
    min-height: 20px;
}
