<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/cadastro.css'>
    <link rel="stylesheet" href="../media/mediaquery.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src='../script/cadastro.js'></script>
    <title>Cadastro</title>
</head>
<body>
    <main>
        <a href="../index.html"
        style="background-color: #435A73; color: white; padding: 15px 32px; text-align: center; font-weight: bold; text-decoration: none; display:inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 4px; transition: background-color 0.3s;" 
        onmouseover="this.style.backgroundColor='#ECBE2A'" 
        onmouseout="this.style.backgroundColor='#435A73'">
        Voltar
        </a>
        <section id ="cadastro">
            <div id="imagem">
                
            </div>
            <div id="formulario">
                <form>
                    <h1>Cadastro</h1>
                    <p>Seja Bem vindo(a). preencha o formulario para efetuar o cadastro.</p>
                    <div class="campo">
                        <span class="material-symbols-outlined">person</span>
                        <label for="name">Nome: </label>
                        <input type="text" name="name" id="name" placeholder="Seu Nome" autocomplete="nome">
                    </div>
                    <div class="campo">
                        <span class="material-symbols-outlined">mail</span>
                        <label for="email">E-mail: </label>
                        <input type="email" name="email" id="email" placeholder="Seu e-mail" autocomplete="email">
                    </div>
                    <div class="campo">
                        <span class="material-symbols-outlined">vpn_key</span>
                        <label for="password">Senha: </label>
                        <input type="password" name="password" id="password" placeholder="Sua senha" autocomplete="current-password" minlength="8">>
                    </div>
                    <div class="campo">
                        <span class="material-symbols-outlined">badge</span>
                        <label for="cpf_cnpj">CPF / CNPJ: </label>
                        <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="CPF / CNPJ" minlength="11" maxlength="19" oninput="fomatarCPFCNPJ(this)">
                    </div>
                    <div class="campo">
                        <span class="material-symbols-outlined">calendar_month</span>
                        <label for="data">Data de Nascimento: </label>
                        <input type="date" name="data" id="data">
                    </div>
                    <label for="termos">Termos </label>
                    <input type="checkbox" name="termos" id="termos">
                    <input type="button" value="Cadastre-se" onclick="cadastro()" id="cadastro-button"/>
                </form>
            </div>
        </section>
    </main>
</body>
</html>