<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "../script/endereco.js"></script>
    <title>Endereços</title>
</head>
<body>
    <label for="title">Titulo para endereço:</label>
    <input type="text" name="title" id="title"><br>

    <label for="cep">CEP:</label>
    <input type="text" name="cep" id="cep" maxlength="9" oninput="formatarCep(this)"><br>

    <label for="address">Endereço:</label>
    <input type="text" name="address" id="address"><br>

    <label for="number">Número:</label>
    <input type="text" name="number" id="number"><br>

    <label for="complement">Complemento:</label>
    <input type="text" name="complement" id="complement"><br>

    <input type="button" value="Cadastrar Endereço" onclick="addEndereco()" id="endereco-button"><br><br><br><br>

    
    <label for="index">index teste</label>
    <input type="number" name="index" id="index">
    <input type="button" value="Teste API del" onclick="delEndereco()" id="endereco-del"><br><br>

    <input type="button" value="Teste API get" onclick="getEndereco()" id="endereco-get"><br><br>


    <label for="index-put">index teste put</label>
    <input type="number" name="index-put" id="index-put">
    <input type="button" value="Teste API put" onclick="putEndereco()" id="endereco-put">
</body>
</html>