<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Endereços</title>
    <link rel="stylesheet" href="../css/endereco.css">
</head>
<body>
    <div class="container">
        <h1>Gerenciar Endereços</h1>

        <form id="enderecoForm">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>

            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" required oninput="formatarCep(this)">

            <label for="address">Endereço:</label>
            <input type="text" id="address" name="address" readonly>

            <label for="number">Número:</label>
            <input type="text" id="number" name="number" required>

            <label for="complement">Complemento:</label>
            <input type="text" id="complement" name="complement">

            <button type="button" id="endereco-button" onclick="addEndereco()">Salvar Endereço</button>
            <button type="button" id="endereco-get" onclick="getEndereco()">Get Endereco</button>
        </form>

        <h2>Endereços Cadastrados</h2>
        <ul id="listaEnderecos"></ul>
    </div>

    <script src="../script/endereco.js"></script>
</body>
</html>