<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <table id="endereco-table" >
        <tr>
            <th>Titulo</th>
            <th>Endereço</th>
            <th>Numero</th>
            <th>CEP</th>
            <th>Button</th>
        </tr>
    </table><br>
    <input type="button" value="Clica" onclick="getEndereco()">
    
    <script src="../script/home.js"></script>
</body>
</html>