<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../script/login.js"></script>
</head>
<body>

    <header>
        <picture id="Logo">
            <img src="../Imagens/Orange_Illustrative_Pet_House_Logo_Transparente.png" alt="Imagem">
        </picture>
        <nav>
            <a href="../index.html">Home</a>
            <a href="login.html">Login</a>
            <a href="#">Agendamentos</a>
            <a href="#">Fale Conosco</a>
            <a href="../view/cadastro.html">Cadastre-se</a>
        </nav>
    </header>

    <div class="login-container">
        <h2>Login</h2>
        <form>
            <div class="campo">
                <label for="user">CPF/CNPJ ou E-mail </label>
                <input type="text" name="user" id="user" autocomplete="email" maxlength="30" required>
            </div>
            <div class="campo">
                <label for="password">Senha </label>
                <input type="password" name="password" id="password" autocomplete="current-password" required minlength="8" maxlength="20">
            </div>
            <input type="button" value="Login" onclick="login()" id="login-button"/>
            <a href="#" class="forgot-password">Esqueceu sua senha?</a>
        </form>
    </div>
</body>
</html>